/* Base styling */

* {
  /* box-sizing: border-box; */
  font-family: "Montserrat", sans-serif;
}

section,
article {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  gap: 80%;
  box-shadow: 0px 7px 7px 0px rgb(170, 170, 170);
  margin: 20px;
  max-width: 720px;
}

#form {
  display: grid;
  grid-template-columns: repeat(4, 170px);
  grid-template-rows: repeat(6, 50px);
}

#form input {
  grid-column: 2/4;
  grid-row: 2/3;
}

#form textarea {
  grid-column: 2/4;
  grid-row: 4/6;
}

#form button {
  grid-column: 3/4;
  grid-row: 6/7;
  background-color: #00d48e;
  border-style: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#label1 {
  grid-column: 2/3;
  grid-row: 1/2;
}

#label2 {
  grid-column: 2/3;
  grid-row: 3/4;
}

.toDO {
  position: absolute;
  right: 150px;
}

section {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: repeat(2, 200px);
}

.Btn2 {
  background-color: #00d48e;
  border-style: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#item-1 {
  order: 0;
  grid-column: 1/2;
  grid-row: 1/2;
  box-shadow: 5px 5px 5px rgb(170, 170, 170);
  border-radius: 5px;
  margin: 20px;
}

#item-2 {
  order: 1;
  grid-column: 2/3;
  grid-row: 1/2;
  box-shadow: 5px 5px 5px rgb(170, 170, 170);
  border-radius: 5px;
  margin: 20px;
}

#item-3 {
  order: 2;
  grid-column: 3/4;
  grid-row: 1/2;
  box-shadow: 5px 5px 5px rgb(170, 170, 170);
  border-radius: 5px;
  margin: 20px;
}

#item-4 {
  order: 3;
  grid-column: 1/2;
  grid-row: 2/3;
  box-shadow: 5px 5px 5px rgb(170, 170, 170);
  border-radius: 5px;
  margin: 20px;
}

#item-5 {
  order: 4;
  grid-column: 2/3;
  grid-row: 2/3;
  box-shadow: 5px 5px 5px rgb(170, 170, 170);
  border-radius: 5px;
  margin: 20px;
}

#item-6 {
  order: 5;
  grid-column: 3/4;
  grid-row: 2/3;
  box-shadow: 5px 5px 5px rgb(170, 170, 170);
  border-radius: 5px;
  margin: 20px;
}
